* {
    margin: 0px;
    padding: 0px;

    font-family: 'Anek Telugu', sans-serif;
    font-family: 'EB Garamond', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header section styles */

.header {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.half-width {
    width: 40%;
}

.flower-1 {
    width: 400px;
    height: 500px;
    float: right;
}

.headings {
    color: #272727;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}

.small-text {
    display: block;
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 20px;
    font-family: Lato;
}

.button1 {
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 43px;
    color: white;
}